{% extends 'base.html' %}

{% block head_title %}Проекти | {{ block.super }} {% endblock %}


{% block sub_nav_bar %}

{% include 'projects/projects_navbar.html' %}

{% endblock sub_nav_bar %}



{% block breadcrumb %}
<div class="container">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/">Головна</a></li>
	    <li class="breadcrumb-item"><a href="{% url 'projects:projects' %}">Проекти</a></li>
	    <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
	  </ol>
	</nav>
</div>

{% endblock breadcrumb %}



{% block content %}
    

    <div class="container margin-bottom-65px">
		<div class="row">
			<div class="col-md-12">
				{% if category.name %}
				<h1 class="text-center page__title">{{ category.name }}</h1>
				{% endif %}
				{% if category.short_description %}
                <p>{{ category.short_description|safe }} </p>
                {% endif %}
				{% if category.description %}
	            <div class="content hideContent">
	                <p>{{ category.description|safe }}</p>
	            </div>
	            <div class="show-more">
	                <a href="#" class="more-link">Детальніше</a>
	            </div>
	            {% endif %}
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			{% for project in projects_in_category %}
				<div class="col-md-3 col-md-3-padding-0">
			      	{% for obj in project.projectimage_set.all %}
				      	{% if obj.is_main %}
				        <div class="last-projects-img-size img-div">
				        	<a href="{{ project.get_absolute_url }}">
				        		<img class="card-img-top image-resize card-img-top-border-radius-0 img-zoom" src="{{ obj.image.url }}" alt="Card image cap">
				        	</a>
				        </div>

					    <div class="project__title">
				          <a href="{{ project.get_absolute_url }}"><p>{{ project.name }}</p></a>
				        </div>				        	
				        
				        {% endif %}
				    {% endfor %}
	        	</div>
	    	{% endfor %}
		</div>
	</div>


{% endblock content %}
