<div class="jumbotron">
       <div class="container">
        <div class="row">
          <div class="col-md-12 padding-top-bottom-50px">
                <h1>{{ home_page_title }}</h1>
                <div class="section__title-divider"></div>
                <div>{{ short_description|safe }}</div>
                <div class="content hideContent">
                    <p>{{ home_page_description|safe }}</p>
                </div>
                <div class="show-more">
                    <a href="#" class="more-link">Детальніше</a>
                </div>

          </div>
        </div>
      </div>
</div>