    {% load static %}
    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One&amp;subset=latin,latin-ext" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=El+Messiri&amp;subset=arabic,cyrillic" />

    <!-- International telephone input -->
    <link rel="stylesheet" href="{% static 'css/intlTelInput.css' %}">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<!-- Fancebox -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />

    <!-- Social icons -->
    <link rel="stylesheet" href="{% static 'css/social_icons.css' %}">

    <!-- International telephone input -->
    <link rel="stylesheet" href="{% static 'css/intlTelInput.css' %}">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!-- Preloader -->
    <link rel="stylesheet" href="{% static 'css/nprogress.css' %}">
    