<div class="header main-background-color">
    <div class="navbar-header d-none d-md-block d-xl-block">
      <div class="container">
        <div class="row">

          <div class="col-md-4">
            <div class="header-social-networks social-networks text-left">
                <a href="https://www.instagram.com/igor_sirotov_architects/" target="_blank" rel="nofollow">
                    <span class="icon-instagram"></span>
                </a>
                <a href="https://www.behance.net/igorsirotov" target="_blank" rel="nofollow">
                    <span class="icon-behance"></span>
                </a>
                <a href="https://www.facebook.com" target="_blank" rel="nofollow">
                    <span class="icon-facebook"></span>
                </a>
                <a href="https://www.pinterest.com/search/pins/?0=igor%7Ctyped&amp;1=sirotov%7Ctyped&amp;q=igor%20sirotov&amp;rs=typed" target="_blank" rel="nofollow">
                    <span class="icon-pinterest2"></span>
                </a>
                <a href="https://plus.google.com/u/0/107573876100784292691" target="_blank" rel="nofollow">
                    <span class="icon-google-plus"></span>
                </a>
                <a href="https://twitter.com" target="_blank" rel="nofollow">
                    <span class="icon-twitter"></span>
                </a>
              </div>
          </div>

          <div class="col-md-4">
            <div class="text-center"><a class="" href="/">Misteckiy Dim</a></div>
          </div>

          <div class="col-md-4">
            <div class="text-right">
              <ul class="langs list-unstyled">
                <li><span>Ua</span></li>
                <li>/</li>
                <li><a href="#en">En</a></li>
              </ul>
            </div>            
          </div>

        </div>

      </div>
    </div>
</div>

<nav class="navbar navbar-expand-md sticky-top navbar-light main-background-color">
  <div class="container">

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

     <a class="navbar-brand mx-auto d-md-none d-xl-none navbar-header-xs" href="/">Misteckiy Dim</a>

     <ul class="langs list-unstyled d-md-none d-xl-none">
        <li><span>Ua</span></li>
        <li>/</li>
        <li><a href="#en">En</a></li>
      </ul>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav main-menu mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Головна</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'about_us:about_us' %} ">Про нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'projects:projects' %}">Проекти</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'gallery:gallery' %}">Галерея</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'prices:prices' %}">Ціни</a>
          </li>
      <!--     <li class="nav-item">
            <a class="nav-link" href="#">Ліпнина</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contacts:contacts' %}">Контакти</a>
          </li>

          <li class="nav-item d-md-none d-xl-none">
            <div class="social-networks">
              <a href="https://www.instagram.com/igor_sirotov_architects/" target="_blank" rel="nofollow">
                  <span class="icon-instagram"></span>
              </a>
              <a href="https://www.behance.net/igorsirotov" target="_blank" rel="nofollow">
                  <span class="icon-behance"></span>
              </a>
              <a href="https://www.facebook.com" target="_blank" rel="nofollow">
                  <span class="icon-facebook"></span>
              </a>
              <a href="https://www.pinterest.com/search/pins/?0=igor%7Ctyped&amp;1=sirotov%7Ctyped&amp;q=igor%20sirotov&amp;rs=typed" target="_blank" rel="nofollow">
                  <span class="icon-pinterest2"></span>
              </a>
              <a href="https://plus.google.com/u/0/107573876100784292691" target="_blank" rel="nofollow">
                  <span class="icon-google-plus"></span>
              </a>
              <a href="https://twitter.com" target="_blank" rel="nofollow">
                  <span class="icon-twitter"></span>
              </a>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </nav>